footer {
    //float: left;
    //width: 100%;
    background-color: rgb(245, 245, 245);
    margin-top: 100px;

    .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    a:hover {
        color: #646464;
    }

    a, p {
        font-size: 14.5px;
        color: rgb(150, 150, 150);
        margin: 0;
    }

    .support {
        .col-xl-4 {
            padding: 0;
        }

        .fecomercio {
            width: 181px;
        }

        .pelotas {
            width: 144px;
            margin: 10px 0 20px 0;
        }

        .ssl {
            width: 167px;
            margin-top: 10px;
        }
    }

    .links {
        a {
            display: block;
            margin-top: 10px;
        }

        .social {
            margin-top: 10px;

            a {
                width: 40px;
                height: 40px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
                margin-left: 5px;

                &.facebook {
                    background-image: url('../images/icon-facebook.png');
                    margin-left: 0;
                }

                &.instagram {
                    background-image: url('../images/icon-instagram.png');
                }

                &.twitter {
                    background-image: url('../images/icon-twitter.png');
                }

                &.youtube {
                    background-image: url('../images/icon-youtube.png');
                }
            }
        }
    }

    .copyright {
        background-color: rgb(240, 240, 240);
        padding-top: 25px;
        padding-bottom: 25px;

        p {
            font-size: 12.5px;
        }
    }

    @media (max-width: 1200px) {
        .support .col-xl-4 {
            text-align: center;
        }
    }

    @media (max-width: 768px) {
        .container {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .links .row {
            display: block;
            text-align: center;

            .col-md-4 {
                padding: 0;
            }

            a {
                display: inline-block;
                padding: 0 10px;
            }

            .social {
                text-align: center !important;
            }
        }

        .copyright .cnpj {
            display: block;
        }
    }
}
