@font-face {
    font-family: 'KeepCalm';
    src: url('../fonts/KeepCalm.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'AgencyFb-Bold';
    src: url('../fonts/AgencyFb-Bold.ttf') format('truetype');
}

body {
    background-color: #fafafa;
    font-family: 'OpenSans-Regular';
    transition: opacity 0.5s ease-out;
}

html, body {
    height: 100%;
}

.bg-white {
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    border: none;
    background: none;
    background-color: rgb(200, 200, 200);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a6a6a6;
    cursor: pointer;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
    outline: none;
}

* {
    outline: none;
}

.no-results {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    p {
        font-size: 14.5px;
        color: rgb(150, 150, 150);
        margin-top: 30px;
    }

    img {
        width: 98px;
    }
}

.error {
    background-color: #fdd !important;
}

.container {
    width: 1400px;
    height: 100%;
    padding-top: 60px;
}

.page-error {
    &+ footer {
        display: none;
    }
}

.page-terms {
    section {
        background-color: #fff;
        float: left;
        width: 100%;
        margin-top: 50px;
        padding: 50px 100px ;

        h1, span {
            font-size: 14.5px;
            color: rgb(100, 100, 100);
            display: block;
        }

        .inline {
            display: inline;
        }

        p {
            font-size: 14.5px;
            color: rgb(150, 150, 150);
            margin-top: 25px;
            line-height: 1.429;
        }
    }
}

.modal {
    text-align: center;
    overflow-y: auto;

    &:before {
        display: inline-block;
        vertical-align: middle;
        content: '';
        height: 100%;
    }

    .modal-dialog {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }

    .modal-content {
        width: 100%;
        height: 100%;
    }
}

#modal-alert {
    z-index: 9999;

    .modal-dialog {
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        box-shadow: 2.5px 4.33px 19px 1px rgba(100, 100, 100, 0.078);
        width: 500px;
    }

	.modal-content {
		padding: 30px;
        text-align: left;

		.modal-body {
			color: #7f7f7f;
			font-size: 14.5px;
			line-height: 20px;
            margin-top: 10px;

            input {
                margin: 10px 0;
                font-size: 14.5px;
                color: #000;
                border-radius: 5px;
                background-color: rgb(245, 245, 245);
                width: 100%;
                height: 40px;
                border: none;
                padding-left: 20px;
            }
		}

		.modal-footer {
			border-top: 0;
			padding-bottom: 10px;

            .btn {
				min-width: 100px;
				height: 40px;
				border: 0;
                font-size: 14.5px;
				color: #FFF;
                border-radius: 25px;
                font-weight: 700;
                background-color: rgb(255, 23, 68);

                &.invert-color {
                    border: 1px solid rgb(255, 23, 68);
                    color: rgb(255, 23, 68);
                    background-color: transparent;
                }
			}
		}

        .invalid-field {
            font-size: 14.5px;
            color: rgb(255, 23, 68);
            margin-right: 25px;
        }
	}
}

.modal-how-works {
    .modal-dialog {
        width: 70%;
        height: 90%;
    }

    .modal-content {
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }

        .arrow {
            position: absolute;
            top: 50%;
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain;
            width: 50px;
            height: 50px;
            background-image: url('../images/icon-arrow.png');
            filter: brightness(0) invert(1);

            &.prev {
                left: -50px;
                display: none;
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);
            }

            &.next {
                right: -50px;
                -webkit-transform: rotate(270deg);
                -moz-transform: rotate(270deg);
                -ms-transform: rotate(270deg);
                -o-transform: rotate(270deg);
                transform: rotate(270deg);
            }
        }

        .position {
            position: absolute;
            bottom: -30px;
            left: 0;
            right: 0;

            .advance {
                border: 2px solid #fff;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-left: 5px;

                &:first-child {
                    margin-left: 0;
                }

                &.active {
                    background-color: #fff;
                }
            }
        }
    }
}

.page-home {
    padding: 60px 0 0 0;
    width: 100%;

    &+ footer {
        margin-top: 0;
    }

    .know {
        width: 100%;
        float: left;
        text-align: center;

        img {
              width: 72px;

              &.img-store + p {
                  margin-top: 0;
              }

              &.img-shirt {
                  width: 83px;
              }
        }

        p {
            display: block;
            font-size: 16.6px;
            color: rgb(62, 60, 71);
            line-height: 1.3;
            margin-top: 10px;
        }
    }

    .app-mobile {
        background: radial-gradient(#b12872 1%, #ff1744);
        background-attachment: fixed;
        padding: 90px 0;
        margin-top: 150px;

        .container {
            padding: 0;
        }

        .text {
            padding-right: 100px;

            img {
                filter: brightness(0) invert(1);
                width: 213px;
            }

            span {
                display: block;
                font-size: 25px;
                color: #fff;
            }

            p {
                margin: 0;
                display: block;
                font-size: 16.6px;
                color: #fff;
                line-height: 1.25;
            }
        }

        .img {
            position: relative;

            img {
                width: 460px;
                position: absolute;
                bottom: -214px;
                left: 0;
            }
        }

        .links {
            padding-left: 70px;

            a {
                font-size: 14.5px;
                color: #fff;
                background-position: 25px center;
                background-repeat: no-repeat;
                background-size: 21px;
                padding: 10px 30px 10px 65px;
                border: 1px solid rgb(255, 255, 255);
                width: 248px;
                display: inline-block;
                border-radius: 25px;
                margin-top: 20px;

                &.android {
                    background-image: url('../images/icon-android.png');
                }

                &.ios {
                    background-image: url('../images/icon-ios.png');
                }
            }
        }
    }
}

@import 'top-nav.scss';
@import 'list-products.scss';
@import 'footer.scss';
@import 'pagination.scss';
@import 'show-store';
@import 'login-register.scss';
@import 'client-config.scss';
@import 'show-product.scss';
@import 'admin.scss';
@import 'store-advertise.scss';
