.page-home {
    padding: 60px 0 0 0;
    width: 100%;

    &+ footer {
        margin-top: 0;
    }

    .banner-home {
        width: 100%;
        float: left;

        .slick-arrow {
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            box-shadow: 2.5px 4.33px 19px 1px rgba(150, 150, 150, 0.118);
            position: absolute;
            top: 50%;
            width: 50px;
            height: 50px;
            border: none;
            font-size: 0;
            z-index: 1;
            background-image: url('../images/icon-arrow3.png');
            background-position: center;
            background-size: 10px;
            background-repeat: no-repeat;

            &.slick-prev {
                left: 2%;
            }

            &.slick-next {
                right: 2%;
                transform: rotate(180deg);
            }
        }
    }

    .know {
        width: 100%;
        float: left;
        text-align: center;
        margin: 50px 0 30px 0;

        img {
              width: 72px;
              display: inline-block;

              &.img-card {
                  width: 74px;
              }

              &.img-shirt {
                  width: 83px;
              }
        }

        span {
            display: inline-block;
            font-size: 16.6px;
            color: rgb(62, 60, 71);
            line-height: 1.3;
            margin-left: 30px;
            vertical-align: middle;
            text-align: left;
        }
    }

    .app-mobile {
        background: radial-gradient(#b12872 1%, #ff1744);
        background-attachment: fixed;
        //padding: 90px 0;
        height: 300px;
        margin-top: 150px;

        .container {
            padding: 0;
        }

        .text {
            padding-right: 100px;
            margin-top: 80px;

            img {
                filter: brightness(0) invert(1);
                width: 213px;
            }

            span {
                display: block;
                font-size: 25px;
                color: #fff;
            }

            p {
                margin: 10px 0 0 0;
                display: block;
                font-size: 16.6px;
                color: #fff;
                line-height: 1.25;
            }
        }

        .img {
            position: relative;

            img {
                width: 460px;
                position: absolute;
                bottom: -300px;
                left: 0;
            }
        }

        .links {
            padding-left: 70px;
            margin-top: 85px;

            a {
                font-size: 14.5px;
                color: #fff;
                background-position: 25px center;
                background-repeat: no-repeat;
                background-size: 21px;
                padding: 15px 30px 15px 65px;
                border: 1px solid rgb(255, 255, 255);
                width: 248px;
                display: inline-block;
                border-radius: 25px;

                &.android {
                    background-image: url('../images/icon-android.png');
                }

                &.ios {
                    margin-top: 20px;
                    background-image: url('../images/icon-ios.png');
                }
            }
        }
    }
}
