.page-home {
    padding: 60px 0 0 0;
    width: 100%;

    &+ footer {
        margin-top: 0;
    }

    .list-products .product .image {
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 2px 20px 0px;
    }

    .bg-grey {
        background-color: #fafafa;
        border-radius: 100% / 10%;
        padding-bottom: 50px;
        margin-bottom: 20px;
    }

    section {
        width: 100%;
        float: left;
        margin-bottom: 100px;

        &.section-content {
            margin-bottom: 0;
        }
    }

    .section-title {
        font-size: 16.6px;
        font-family: "KeepCalm";
        color: rgb(100, 100, 100);
        margin: 0 0 30px 10px;
    }

    .slick-slider:hover .slick-arrow {
        opacity: 1;
    }

    .slick-arrow {
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: 2.5px 4.33px 19px 1px rgba(150, 150, 150, 0.118);
        position: absolute;
        top: 50%;
        width: 50px;
        height: 50px;
        border: none;
        font-size: 0;
        z-index: 1;
        transition: .5s;
        transform: translateY(-50%);
        opacity: 0;

        &:after {
            content: '';
            position: absolute;
            background-image: url('../images/icon-arrow3.png');
            background-position: center;
            background-size: 10px;
            background-repeat: no-repeat;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        &.slick-prev {
            left: 2%;
        }

        &.slick-next {
            right: 2%;

            &:after {
                transform: rotate(180deg);
            }
        }
    }

    .banner-home {
        width: 100%;
        float: left;

        img {
    		width: 100%;
    	}
    }

    .slick-products, .slick-stores {
        margin-top: 0;

        .item {
            text-align: center;

            a {
                display: inline-block;
            }
        }

        .product {
            padding: 0 10px;
            width: auto;
            margin: 0;
        }

        .slick-arrow {
            &.slick-prev {
                left: -5%;
            }

            &.slick-next {
                right: -5%;
            }
        }
    }

    .images-filter {
        width: 100%;
        float: left;

        .content {
            width: 20%;
            float: left;
            text-align: center;

            .images-title {
                font-size: 16.6px;
                font-family: "KeepCalm";
                color: rgb(100, 100, 100);
                display: inline-block;
                margin-bottom: 30px;
            }
        }
    }

    .banners {
        img {
            width: 100%;
        }
    }

    .brands {
        text-align: center;

        .content {
            display: inline-block;
            text-align: center;
            margin: 0 10px 20px 10px;

            a {
                display: inline-block;
            }
        }
    }

    .trending-words {
        .content {
            display: block;
        }

        a {
            font-size: 16.6px;
            color: rgb(100, 100, 100);
            background-color: rgb(249, 248, 247);
            display: block;
            border-radius: 25px;
            padding: 15px 20px 15px 45px;
            display: inline-block;
            margin: 0 5px 10px 5px;
            position: relative;

            &:before {
                content: '+';
                color: #ff1945;
                position: absolute;
                left: 17px;
                top: 4px;
                font-size: 30px;
            }

        }
    }

    .newsletter {
        h2 {
            font-size: 33.3px;
            font-family: 'KeepCalm';
            color: rgb(50, 50, 50);
        }

        h3 {
            font-size: 16.6px;
            color: rgb(150, 150, 150);
            margin-top: 0;
        }

        span {
            font-size: 12.5px;
            color: rgb(150, 150, 150);
        }

        form {
            display: inline-block;
            width: 620px;
            height: 50px;
            position: relative;
            margin-top: 15px;

            input[type=email] {
                background-color: rgb(245, 245, 245);
                width: 500px;
                height: 100%;
                font-size: 16.6px;
                color: rgb(150, 150, 150);
                border-radius: 25px;
                padding-left: 20px;
                border: none;
            }

            input[type=submit] {
                background-color: rgb(150, 150, 150);
                width: 120px;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                font-size: 16.6px;
                color: #fff;
                font-weight: 700;
                border-radius: 25px;
                border: none;
            }
        }
    }

    .app-mobile {
        background: radial-gradient(#b12872 1%, #ff1744);
        background-attachment: fixed;
        //padding: 90px 0;
        height: 300px;
        margin-top: 150px;

        .container {
            padding: 0;
        }

        .text {
            padding-right: 100px;
            margin-top: 80px;

            img {
                filter: brightness(0) invert(1);
                width: 213px;
            }

            span {
                display: block;
                font-size: 25px;
                color: #fff;
            }

            p {
                margin: 10px 0 0 0;
                display: block;
                font-size: 16.6px;
                color: #fff;
                line-height: 1.25;
            }
        }

        .img {
            position: relative;

            img {
                width: 460px;
                position: absolute;
                bottom: -300px;
                left: 0;
            }
        }

        .links {
            padding-left: 70px;
            margin-top: 85px;

            a {
                font-size: 14.5px;
                color: #fff;
                background-position: 25px center;
                background-repeat: no-repeat;
                background-size: 21px;
                padding: 15px 30px 15px 65px;
                border: 1px solid rgb(255, 255, 255);
                width: 248px;
                display: inline-block;
                border-radius: 25px;

                &.android {
                    background-image: url('../images/icon-android.png');
                }

                &.ios {
                    margin-top: 20px;
                    background-image: url('../images/icon-ios.png');
                }
            }
        }
    }
}
