.filter-products {
    float: left;
    width: 100%;

    .active-filters {
        float: left;
        width: 100%;
        background-color: #f5f5f5;
        padding: 15px 10px;

        h4 {
            font-size: 16.6px;
            color: #000;
            display: inline-block;
            margin: 0;
        }

        .clear-all-filters {
            font-size: 12.5px;
            color: rgb(150, 150, 150);
            background-color: transparent;
            display: inline-block;
            border: none;
        }

        .list {
            float: left;
            width: 100%;
            margin-top: 15px;

            .clear-filter {
                font-size: 14.5px;
                color: rgb(150, 150, 150);
                background-color: transparent;
                border: 1px solid rgb(220, 220, 220);
                display: inline-block;
                position: relative;
                border-radius: 25px;
                padding-right: 30px;
                margin-bottom: 5px;

                &:after {
                    content: '';
                    filter: invert(39%) sepia(95%) saturate(6697%) hue-rotate(338deg) brightness(99%) contrast(105%);
                    width: 15px;
                    height: 15px;
                    background-image: url('../images/icon-remove.png');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    right: 10px;
                    top: 3px;
                }
            }
        }
    }

    .section-filter {
        float: left;
        width: 100%;
        margin-top: 20px;

        .filter-title {
            font-size: 25px;
            color: #000;
            display: block;
            margin-bottom: 15px;
        }

        .list {
            float: left;
            width: 100%;
            max-height: 380px;
            overflow: hidden;

            &:hover {
                overflow: auto;
            }
        }

        .item {
            display: block;

            input[type=radio] {
                display: none;

                &:checked + label {
                    color: rgb(255, 23, 68);

                    &:after {
                        content: '';
                        position: absolute;
                        left: 2px;
                        top: 3px;
                        background-color: rgb(255, 23, 68);
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                }
            }

            label {
                font-size: 14.5px;
                color: rgb(150, 150, 150);
                font-weight: normal;
                position: relative;
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
                transition: .5s;

                &:before {
                    content: '';
                    border: 1px solid rgb(220, 220, 220);
                    border-radius: 50%;
                    width: 14px;
                    height: 14px;
                    display: inline-block;
                    margin-right: 5px;
                }

                &:hover {
                    color: rgb(255, 23, 68);
                }
            }
        }

        &.filter-color {
            .item {
                display: inline-block;
                margin-right: 5px;
            }

            input[type=radio] {
                display: none;

                &:checked + label {
                    border: 2px solid #ff1744;

                    &:after {
                        display: none;
                    }
                }
            }

            label {
                border-radius: 50%;
                width: 40px;
                height: 40px;

                &:hover {
                    border: 1px solid #ff1744;
                }

                &:before {
                    display: none;
                }

                &.preto {
                    background-color: #000;
                }

                &.branco {
                    background-color: #fff;
                    border: 1px solid rgb(220, 220, 220);
                }

                &.cinza {
                    background-color: #dcdcdc;
                }

                &.marrom {
                    background-color: #87683d;
                }

                &.bege {
                    background-color: #c6baa2;
                }

                &.azul {
                    background-color: #003770;
                }

                &.azul-claro {
                    background-color: #a2cff0;
                }

                &.verde {
                    background-color: #009045;
                }

                &.verde-claro {
                    background-color: #c8e2aa;
                }

                &.amarelo {
                    background-color: #fef271;
                }

                &.vermelho {
                    background-color: #bf0811;
                }

                &.laranja {
                    background-color: #db9600;
                }

                &.roxo {
                    background-color: #7b087e;
                }

                &.rosa {
                    background-color: #ed95ed;
                }

                &.lilas {
                    background-color: #b897c0;
                }
            }
        }

        &.filter-price {
            .filter-input {
                float: left;
                width: 100%;
                margin-bottom: 20px;

                .inputs {
                    float: left;
                    width: 100%;
                    width: calc(100% - 50px);

                    .input {
                        width: calc(50% - 10px);
                        float: left;
                        margin-right: 10px;

                        span {
                            font-size: 12.5px;
                            color: rgb(150, 150, 150);
                            margin: 0 0 5px 5px;
                            display: block;
                        }

                        input {
                            font-size: 12.5px;
                            color: rgb(150, 150, 150);
                            border: 1px solid rgb(220, 220, 220);
                            border-radius: 5px;
                            width: 100%;
                            height: 40px;
                            float: left;
                            padding-left: 5px;
                        }
                    }
                }

                button {
                    font-size: 12.5px;
                    color: rgb(255, 23, 68);
                    font-weight: 700;
                    border-radius: 5px;
                    background-color: rgb(240, 240, 240);
                    width: 50px;
                    height: 40px;
                    float: left;
                    border: none;
                    position: relative;
                    top: 23px;
                }
            }
        }

        &.filter-size, &.filter-off, &.filter-installment {
            input[type=radio] {
                &:checked + label {
                    color: rgb(255, 23, 68);
                    background-color: rgb(255, 23, 68);
                    font-weight: 700;
                    color: #fff;

                    &:after {
                        content: '';
                    }
                }
            }

            .item {
                display: inline-block;
                margin-right: 5px;
            }

            label {
                font-size: 12.5px;
                border: 1px solid rgb(220, 220, 220);
                border-radius: 5px;
                width: 38px;
                height: 38px;
                text-align: center;
                line-height: 2.8;

                &:hover {
                    border: 1px solid #ff1744;
                }

                &:before {
                    display: none;
                }
            }
        }
    }
}

.product-filter-orderby {
    //margin-top: 50px;
    float: right;

    .bootstrap-select {
        margin-left: 20px !important;
        width: 178px !important;

        &.open .dropdown-toggle {
            border-radius: 15px 15px 0 0;
            background-color: #fff;
            color: rgb(100, 100, 100);
            box-shadow: 2.5px 4.33px 4.75px 0.25px rgba(98, 98, 98, 0.118);
            border: 1px solid rgb(230, 230, 230);
            border-bottom: none;
        }

        .dropdown-toggle {
            background-color: transparent;
            height: 28px;
            border: 1px solid rgb(230, 230, 230);
            border-radius: 30px;
            padding-left: 20px;
            box-shadow: none;
            color: rgb(100, 100, 100);
            font-size: 14.5px;
            outline: none !important;
            line-height: 1;

            &:hover {
                color: rgb(100, 100, 100);
            }
        }

        .dropdown-menu {
            background-color: #fff !important;
            border-radius: 0 0 15px 15px;
            top: 26px;
            box-shadow: none;
            border: 1px solid rgb(230, 230, 230);
            border-top: none;
            padding: 0;
            box-shadow: 2.5px 4.33px 4.75px 0.25px rgba(98, 98, 98, 0.118);

            a {
                padding: 8px 20px;
                color: rgb(100, 100, 100);
                font-size: 14.5px;

                &:hover {
                    background-color: rgb(245, 245, 245);
                }
            }
        }
    }
}

.list-products {
    width: 100%;
    float: left;
    margin-top: 25px;

    .product {
		display: inline-block;
        width: calc(25% - 20px);
        margin: 0 0 100px 20px;
        vertical-align: top;

        &:nth-child(4n+1) {
            margin-left: 0;
        }

        .image {
            width: 100%;
            float: left;
            border-radius: 5px;
            //background-color: #fff;
            height: 248px;
            object-fit: contain;
            transition: transform .2s;
            //box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 2px 20px 0px;

            &:hover {
                transform: scale(1.05);
            }
        }

        .infos {
            float: left;
            width: 100%;
            padding: 10px;

            a {
                float: left;
                width: 100%;
            }
        }

        .title {
            float: left;
            color: rgb(150, 150, 150);
            font-size: 14.5px;
            //line-height: 14.5px;
            max-height: 41px;
            overflow: hidden;
            width: 100%;
            margin: 5px 0 0 0;
        }

        .store-name {
            font-size: 14.5px;
            color: rgb(122, 184, 236);
            float: left;
            margin-top: 2px;
        }

        .free-freight {
            float: left;
            width: 100%;
            margin-bottom: 10px;

            span {
                font-size: 10.4px;
                color: rgb(112, 202, 124);
                font-weight: 700;
                border: 1px solid rgb(112, 202, 124);
                padding: 0 4px;
            }
        }

        .offtime {
            float: left;
            width: 100%;
            margin-top: 8px;
            display: block;
            padding-left: 25px;
            font-size: 16px;
            font-weight: 700;
            color: rgb(255, 23, 68);
            background-image: url('../images/icon-clock.png');
            background-position: left 1px;
            background-repeat: no-repeat;
            background-size: 20px;
        }

        .price {
            font-family: "KeepCalm";
            color: rgb(50, 50, 50);
            font-size: 14.5px;

            span {
                font-size: 12.5px;
            }
        }

        .old-price, .parcels {
            font-size: 12.5px;
            color: rgb(50, 50, 50);
            float: left;
            width: 100%;
        }

        .old-price span {
            text-decoration: line-through;
        }

        .price-off {
            font-size: 14.5px;
            color: #70ca7c;
            margin-left: 10px;
        }

        .reserve {
            float: left;
            width: 100%;
            margin-bottom: 10px;

            span {
                font-size: 10.8px;
                color: #000;
                background-color: rgb(255, 215, 223);
                font-weight: 700;
                padding: 3px 7px;
                position: relative;
                left: -5px;
            }
        }
    }
}
