.page-login-register {
    text-align: center;

    &+ footer {
        display: none;
    }

    .top {
        display: block;
        margin: 100px 0 15px 0;

        a {
            font-size: 13.3px;
            font-family: "KeepCalm";
            color: rgb(100, 100, 100);
            display: inline-block;
            padding: 0 5px;

            &:first-child {
                margin-right: 70px;
            }

            &.active {
                border-bottom: 4px solid rgb(255, 23, 68);
            }
        }
    }

    form {
        //position: absolute;
        //top: 50%;
        //left: 50%;
        //transform: translate(-50%, -50%);
        border: 1px solid rgb(240, 240, 240);
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        box-shadow: 10px 17.321px 16px 4px rgba(100, 100, 100, 0.078);
        width: 538px;
        padding: 70px 70px 30px 70px;
        display: inline-block;

        h1 {
            font-size: 25px;
            font-family: "KeepCalm";
            color: rgb(66, 66, 66);
            margin: 0;
        }

        .sub {
            font-size: 14.5px;
            color: rgb(100, 100, 100);
            margin: 5px 0 40px 0;
        }

        input, textarea {
            &focus + label, &:not(:placeholder-shown) + label {
                background-color: #fff;
            }
        }

        .description {
            font-size: 12.5px;
            color: rgb(150, 150, 150);
            line-height: 1.167;
            text-align: center;
        }

        .link {
            font-size: 14.5px;
            color: rgb(150, 150, 150);
            display: block;
            margin-top: 40px;

            a {
                font-size: 14.5px;
            }
        }

        .half {
            width: 49%;

            &.margin {
                margin-right: 2%;
            }
        }

        a {
            font-size: 12.5px;
            color: rgb(122, 184, 236);
        }

        input[type=submit] {
            color: rgb(255, 255, 255);
            font-weight: 700;
            background-color: rgb(255, 23, 68);
            height: 45px;
            border-radius: 25px;
            margin: 20px 0;
            border: none;
            width: 100%;
        }
    }
}
