.page-product-edit {
    position: relative;

    .col-xs-6 {
        padding: 0;
    }

    .top-images {
        width: 100%;
        top: 60px;
        position: fixed;
        z-index: 3;
        left: 0;
        background-color: #fafafa;
        padding: 15px 0 10px 0;

        .container {
            margin-top: 0;
            padding: 0 30px;
        }

        .row {
            border-bottom: 1px solid rgb(230, 230, 230);
            padding-bottom: 10px;
        }

        p {
            font-size: 14.5px;
            color: rgb(100, 100, 100);
            position: relative;
            top: 10px;
        }

        button {
            font-size: 14.5px;
            color: rgb(50, 50, 50);
            font-weight: 700;
            width: 200px;
            height: 40px;
            border: none;
            background-color: transparent;
            display: inline-block;
            margin-left: 20px;

            &.btn-finish {
                border-radius: 25px;
                background-color: rgb(230, 230, 230);
            }

            &.generate-color-variation, &.remove-color-variation {
                display: none;
                color: rgb(255, 23, 68);
            }
        }

        .btns-color-variation {
            position: relative;
            display: inline-block;
            margin-right: 20px;

            button {
                width: auto;
                margin: 0;
            }

            .open-color-variation:hover + .color-variation-tooltip {
                display: block;
            }

            .color-variation-tooltip {
                font-size: 12.5px;
                color: rgb(100, 100, 100);
                border-radius: 5px;
                background-color: rgb(255, 255, 255);
                box-shadow: 1px 1.732px 1.96px 0.04px rgba(100, 100, 100, 0.118);
                position: absolute;
                left: -300px;
                width: 300px;
                top: 0;
                padding: 10px;
                display: none;
                text-align: left;
            }
        }
    }

    .advice {
        font-size: 12.5px;
        color: rgb(150, 150, 150);
        right: 15px;
        top: 135px;
        position: absolute;
    }

    #form-search {
        float: left;
        width: 100%;
        margin-top: 85px;

        &+ .forms {
            margin-top: 0;
        }

        input[type=text] {
            background-color: rgb(245, 245, 245);
            width: 570px;
            height: 36px;
            font-size: 12.5px;
            color: #000;
            border-radius: 25px 0 0 25px;
            border: none;
            float: left;
            padding-left: 20px;
        }

        input[type=submit] {
            background-color: rgb(245, 245, 245);
            height: 36px;
            width: 50px;
            border-radius: 0 25px 25px 0;
            border: none;
            background-image: url('../images/icon-lupa.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 25px;
            float: left;
        }
    }

    .forms {
        float: left;
        width: 100%;
        margin-top: 65px;

        .pagination a {
            background-color: transparent;
            border: 1px solid rgb(255, 23, 68);
            color: rgb(255, 23, 68);
            font-weight: 700;
            border-radius: 25px;
            padding: 10px 20px;

            &:after {
                background-image: url('');
            }
        }

        form {
            float: left;
            width: 100%;
            border-top: 1px solid rgb(230, 230, 230);
            margin-top: 50px;
            padding-top: 50px;
            position: relative;

            &:first-child {
                margin-top: 0;
                border-top: none;
            }

            &.product-variation {
                .variation {
                    position: absolute;
                    left: -30px;
                    top: 220px;
                    height: 385px;
                    width: 1px;
                    background-color: rgb(255, 23, 68);

                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 15px;
                        height: 1px;
                        background-color: rgb(255, 23, 68);
                    }
                }
            }

            &.product-disabled {
                input, textarea, .bootstrap-select .dropdown-toggle, .sizes, .images {
                    opacity: .5;
                }
            }

            .row {
                padding: 0;
                margin: 0;
            }

            .options {
                text-align: right;

                .create-off {
                    position: relative;
                    float: right;

                    .btn-offtime {
                        color: #7ab8ec;
                        width: auto;
                        height: auto;
                        padding: 3px 10px;
                        margin: 30px 35px 0 0;
                        border: 1px solid #7ab8ec;
                        border-radius: 25px;
                        font-size: 12px;

                        &.offtime-selected {
                            font-weight: 700;
                            background-color: #7ab8ec;
                            color: #fff;
                        }
                    }

                    .modal-offtime {
                        position: absolute;
                        left: -90px;
                        top: 70px;
                        border-radius: 5px;
                        background-color: #fff;
                        box-shadow: 2.5px 4.33px 19px 1px rgba(50, 50, 50, 0.078);
                        width: 300px;
                        z-index: 1;
                        text-align: left;
                        display: none;

                        .top {
                            font-size: 12.5px;
                            color: #000;
                            background-color: rgb(240, 240, 240);
                            width: 100%;
                            float: left;
                            padding: 20px;
                        }

                        .bottom {
                            float: left;
                            width: 100%;
                            text-align: center;
                            padding: 10px 20px 20px 20px;

                            .offtime-time {
                                width: 100%;
                                float: left;
                                font-size: 14.5px;
                                color: rgb(100, 100, 100);
                                text-align: left;
                                margin-bottom: 20px;

                                .offtime-timer {
                                    color: #000;
                                    font-weight: 700;
                                }
                            }

                            .save-off {
                                background-color: rgb(255, 23, 68);
                                width: 100%;
                                height: 40px;
                                font-size: 14.5px;
                                color: #fff;
                                font-weight: 700;
                                float: left;
                                border-radius: 25px;
                                margin: 0;
                            }

                            .remove-off {
                                font-size: 12.5px;
                                color: rgb(122, 184, 236);
                                float: none;
                                width: auto;
                                margin-top: 15px;

                                &.hide {
                                    display: none;
                                }
                            }
                        }

                        .body {
                            padding: 20px;
                            width: 100%;
                            float: left;

                            .price-container {
                                width: 100%;
                                float: left;
                                font-size: 14.5px;
                                color: rgb(100, 100, 100);

                                b {
                                    color: #000;
                                }
                            }

                            .off-container {
                                float: left;
                                width: 100%;
                                margin: 20px 0;

                                input {
                                    background-color: rgb(240, 240, 240);
                                    width: calc(100% - 110px);
                                    height: 40px;
                                    border-radius: 25px;
                                    padding-left: 20px;
                                    border: none;
                                    float: left;
                                }

                                .apply-off {
                                    border: 1px solid rgb(255, 23, 68);
                                    width: 100px;
                                    height: 38px;
                                    font-size: 14.5px;
                                    color: rgb(255, 23, 68);
                                    font-weight: 700;
                                    border-radius: 25px;
                                    float: left;
                                    margin: 0 0 0 10px;
                                }
                            }

                            .time-container {
                                width: 100%;
                                float: left;

                                span {
                                    display: block;
                                    text-align: left;
                                    font-size: 12.5px;
                                    color: rgb(50, 50, 50);
                                    margin-bottom: 10px;
                                }

                                input[type=radio] {
                                    display: none;

                                    &:checked + label:after {
                                        background-image: url('../images/icon-check5.png');
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        border: none;
                                    }
                                }

                                label {
                                    font-size: 12.5px;
                                    color: rgb(50, 50, 50);
                                    display: inline-block;
                                    position: relative;
                                    padding-left: 27px;
                                    margin-right: 20px;
                                    font-weight: normal;
                                    cursor: pointer;

                                    &:after {
                                        content: '';
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        border: 1px solid rgb(220, 220, 220);
                                        border-radius: 50%;
                                        width: 18px;
                                        height: 18px;
                                    }
                                }
                            }
                        }
                    }
                }

                button, a {
                    margin: 30px 0 0 0;
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    border: none;
                    padding: 0;
                    width: 60px;
                    height: 22px;
                    float: right;
                    position: relative;

                    &.hidden {
                        display: none;
                    }

                    &.disabled, &.copied, &.selected {
                        color: rgb(255, 23, 68);
                        -webkit-filter: sepia(100%) hue-rotate(-55deg) saturate(1000%);
                        filter: sepia(100%) hue-rotate(-55deg) saturate(1000%);
                    }

                    &.select-color {
                        border: 2px solid #ff1744;
                        border-radius: 2px;
                        width: 20px;
                        height: 20px;
                        margin-right: 15px;
                        margin-left: 15px;
                        display: none;

                        &.selected {
                            background-image: url('../images/icon-check3.png');
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }

                        &.color-variation {
                            border: none !important;
                            background-image: url('../images/icon-remove.png');
                            -webkit-filter: sepia(100%) hue-rotate(-55deg) saturate(1000%);
                            filter: sepia(100%) hue-rotate(-55deg) saturate(1000%);
                            width: 25px;
                            height: 25px;
                            position: relative;
                            bottom: 2px;
                        }
                    }

                    &.free-freight {
                        font-size: 14.5px;
                        color: rgb(122, 184, 236);
                        position: relative;
                        width: auto;
                        padding-left: 27px;
                        margin-right: 20px;

                        &:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 1px;
                            border: 2px solid rgb(122, 184, 236);
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                        }

                        &.free-freight-selected:after {
                            background-image: url('../images/icon-check5.png');
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            border: none;
                        }
                    }

                    &.link-share {
                        color: #7ab8ec;
                        width: auto;
                        height: auto;
                        padding: 3px 10px;
                        margin: 30px 35px 0 0;
                        border: 1px solid #7ab8ec;
                        border-radius: 25px;
                        font-size: 12px;
                    }

                    &.copy-data {
                        background-image: url('../images/icon-copy.png');
                    }

                    &.paste-data {
                        background-image: url('../images/icon-paste.png');
                    }

                    &.delete-product {
                        background-image: url('../images/icon-delete.png');
                        height: 23px;
                    }

                    &.disable-product, &.enable-product {
                        background-image: url('../images/icon-hide.png');
                        height: 20px;
                    }
                }

                a {
                    background-image: url('../images/icon-show-product.png');
                }
            }

            .images {
                input[type=checkbox], input[type=file] {
                    display: none;
                }

                .image {
                    float: left;
                    position: relative;
                    margin-left: 1%;
                    width: 80px;
                    height: 80px;
                    border-radius: 5px;

                    &:first-child {
                        margin-left: 0;
                    }

                    &.no-image {
                        .btn-add-image {
                            background-color: rgb(240, 240, 240);
                            font-size: 45px;
                            font-weight: normal;
                            text-align: center;
                            line-height: 80px;
                            cursor: pointer;
                            color: #969696;
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 22px;
                            background-image: url('../images/icon-camera.png');
                        }

                        img {
                            display: none;
                        }
                    }

                    &.loaded-image {
                        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 2px 20px 0px;

                        .btn-add-image {
                            display: none;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                            object-fit: contain;
                            background-color: #fff;
                        }

                        .remove-image {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 16px;
                            height: 16px;
                            cursor: pointer;
                            background-color: rgba(0, 0, 0, .5);
                            border-radius: 0 5px;

                            &:after {
                                content: '';
                                background-image: url('../images/icon-remove.png');
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center;
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                filter: brightness(10%) invert(1);
                            }
                        }
                    }
                }
            }

            .form-group {
                margin: 0.7% 0 0 0.7%;
                width: 16.8%;
                height: 40px;

                input, textarea {
                    font-size: 12.5px;
                    padding-left: 20px;

                    &focus + label, &:not(:placeholder-shown) + label {
                        top: -7px;
                        font-size: 10.4px;
                    }

                    &:not(:placeholder-shown) {
                        padding-top: 10px;
                    }
                }

                label {
                    font-size: 12.5px;
                    top: 10px;
                }

                &.title {
                    width: 82%;
                    margin-left: 0;
                }

                &.description {
                    width: 82%;
                    height: 90px;
                    margin-left: 0;

                    textarea {
                        resize: none;
                        padding: 10px 20px;

                        &:not(:placeholder-shown) {
                            padding-top: 20px;
                        }
                    }
                }

                &.gender {
                    label {
                        background-color: #fafafa;
                        border-radius: 25px;
                        padding: 2px 10px;
                        font-size: 10.4px;
                        position: absolute;
                        top: -7px;
                        left: 7px;
                        width: auto;
                        z-index: 2;
                        display: none;
                    }
                }

                .bootstrap-select {
                    margin: 0 !important;
                    width: 100% !important;
                    float: left;

                    &.open .dropdown-toggle {
                        border-radius: 5px 5px 0 0;
                        background-color: rgb(240, 240, 240);
                        color: rgb(100, 100, 100);
                    }

                    .dropdown-toggle {
                        background-color: rgb(240, 240, 240);
                        height: 40px;
                        border: none;
                        border-radius: 5px;
                        padding-left: 20px;
                        box-shadow: none;
                        color: #000;
                        font-size: 12.5px;
                        outline: none !important;

                        &:hover {
                            color: #000;
                        }

                        &[title='Departamento'], &[title='Departamento']:hover, &[title='Departamento']:focus, &[title='Departamento']:active {
                            color: #969696;

                            .filter-option {
                                line-height: normal;
                            }
                        }

                        .filter-option {
                            line-height: 3;
                        }
                    }

                    .dropdown-menu {
                        background-color: rgb(240, 240, 240) !important;
                        border-radius: 0 0 5px 5px;
                        top: 34px;
                        box-shadow: none;
                        border: none;
                        padding: 0;

                        a {
                            padding: 8px 20px;
                            color: rgb(100, 100, 100);
                            font-size: 14.5px;

                            &:hover {
                                background-color: rgb(230, 230, 230);
                            }
                        }
                    }
                }
            }

            .sizes-container {
                margin-top: 0.7%;

                .arrow {
                    float: left;
                    width: 40px;
                    height: 40px;
                    border: none;
                    background-color: transparent;
                    background-position: center 10px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url('../images/icon-arrow.png');
                    opacity: .4;

                    &.left {
                        -webkit-transform: rotate(90deg);
                        -moz-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        -o-transform: rotate(90deg);
                        transform: rotate(90deg);
                    }

                    &.right {
                        -webkit-transform: rotate(270deg);
                        -moz-transform: rotate(270deg);
                        -ms-transform: rotate(270deg);
                        -o-transform: rotate(270deg);
                        transform: rotate(270deg);
                    }
                }

                .sizes {
                    float: left;
                    width: calc(100% - 80px);
                    overflow-x: hidden;
                    overflow-y: hidden;
                    white-space: nowrap;

                    input[type=checkbox] {
                        display: none;

                        &:checked + label {
                            color: #fff;
                            background-color: rgb(255, 23, 68);
                        }

                        &.error + label {
                            background-color: rgb(255, 221, 221);
                        }
                    }

                    label {
                        border-radius: 5px;
                        background-color: rgb(240, 240, 240);
                        width: 40px;
                        height: 40px;
                        margin-right: 5px;
                        font-weight: normal;
                        font-size: 12.5px;
                        color: rgb(150, 150, 150);
                        text-align: center;
                        cursor: pointer;
                        line-height: 40px;
                        display:inline-block;
                    }
                }
            }
        }
    }
}
