header {
    background-color: rgb(255, 255, 255);
    box-shadow: 1.5px 2.598px 2.91px 0.09px rgba(200, 200, 200, 0.118);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1001;

    &#header-store {
        li {
            height: 56px;
            line-height: 56px;
        }

        .active {
            border-bottom: 4px solid rgb(255, 23, 68);
        }

        #logo-naslojas {
            margin-right: 10px;
        }

        .search-stores {
            position: relative;
            display: inline-block;
            margin-top: 15px;

            .open-search-stores {
                background-image: url('../images/icon-arrow.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 35px;
                height: 35px;
                display: inline-block;
                border: none;
                background-color: transparent;
            }

            .dropdown {
                display: none;
                position: absolute;
                top: 35px;
                left: -40px;
                border-radius: 5px;
                background-color: rgb(255, 255, 255);
                box-shadow: 2.5px 4.33px 13.5px 1.5px rgba(100, 99, 99, 0.118);
                width: 300px;
                max-height: 440px;
                z-index: 9;
                overflow: auto;
                padding: 10px 0;

                a {
                    font-size: 14.5px;
                    color: rgb(100, 100, 100);
                    display: block;
                    padding: 7px 20px;

                    &:hover:not(.store-register), &.active-store {
                        background-color: rgb(245, 245, 245);
                    }

                    &.store-register {
                        color: rgb(122, 184, 236);
                    }
                }
            }
        }
    }

    &#header-simple {
        .container-fluid {
            justify-content: center;
        }

        .logout {
            color: #646464;
            float: right;
            margin-top: 20px;
        }
    }

    .container-fluid {
        padding-top: 0 !important;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    #logo-naslojas img {
        width: 150px;
    }

    #form-search {
        display: flex;
        margin: 0 10px 0 20px;
        height: 36px;
        width: 460px;

        input[type=text] {
            background-color: rgb(245, 245, 245);
            font-size: 12.5px;
            border: none;
            border-radius: 25px 0 0 25px;
            padding-left: 20px;
            flex: 1 0 auto;
        }

        input[type=submit] {
            background-color: rgb(245, 245, 245);
            width: 60px;
            border-radius: 0 25px 25px 0;
            border: none;
            background-image: url('../images/icon-lupa.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 25px;
        }
    }

    nav {
        float: none !important;
        position: relative;
        display: flex;
        height: 100%;
        justify-content: flex-end;
        flex: 1 0 auto;

        .open > a {
            background-color: transparent !important;
        }

        .logged {
            span {
                max-width: 280px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            img {
                width: 25px;
                margin-left: 5px;
            }
        }

        li {
            display: inline-flex;
            vertical-align: top;
            height: 100%;

            a {
                font-size: 13.7px;
                color: rgb(100, 100, 100);
                padding: 0 20px;
                align-items: center;
                display: flex;

                &:hover {
                    color: #646464;
                }

                .bag-container {
                    position: relative;
                    margin-left: 7px;

                    &.cart-has-products::after {
                        content: '';
                        background-color: #ff1744;
                        width: 5px;
                        height: 5px;
                        position: absolute;
                        border-radius: 50%;
                        top: 11px;
                        left: 8px;
                        transition: .5s;
                    }

                    img {
                        width: 20px;
                    }
                }
            }
        }

        .dropdown-menu {
            right: 0;
            left: auto;
            top: 80%;
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            box-shadow: 2.5px 4.33px 13.5px 1.5px rgba(100, 100, 100, 0.118);
            width: 210px;
            padding: 0;
            border: none;

            &.dropdown-store a {
                padding-left: 25px;
            }

            li {
                height: auto;
                line-height: normal;
                display: block;

                a {
                    font-size: 14.5px;
                    padding: 10px 0 10px 45px;
                    position: relative;

                    &:hover {
                        background-color: rgb(245, 245, 245);
                    }

                    &:after {
                        content: '';
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        position: absolute;
                        background-position: 15px center;
                        background-repeat: no-repeat;
                        background-size: 20px;
                    }

                    &.icon-messages:after {
                        background-image: url('../images/icon-message.png');
                    }

                    &.icon-logout:after {
                        background-image: url('../images/icon-logout.png');
                    }

                    &.icon-account:after {
                        background-image: url('../images/icon-account.png');
                    }

                    &.icon-reserve:after {
                        background-image: url('../images/icon-reserve.png');
                        -webkit-filter: grayscale(100%);
                        filter: grayscale(100%);
                        opacity: .6;
                    }

                    &.icon-check:after {
                        background-image: url('../images/icon-check.png');
                    }
                }
            }
        }
    }

    #header-cities-container {
        display: flex;
        position: relative;
        width: 250px;

        #header-search-city {
            background-color: rgb(245, 245, 245);
            width: 100%;
            height: 36px;
            font-size: 12.5px;
            border: 0;
            border-radius: 25px;
            padding-left: 20px;
            background-image: url('../images/icon-lupa.png');
            background-position: center right 10px;
            background-repeat: no-repeat;
            background-size: 25px;
        }

        #header-list-cities {
            display: flex;
            width: 100%;
            flex-direction: column;
            position: absolute;
            left: 0;
            top: 48px;
            background-color: rgb(245, 245, 245);
            border-radius: 5px;
            overflow: auto;
            max-height: 300px;

            p {
                color: #646464;
                font-size: 12px;
                text-align: center;
                margin: 10px 0;
            }

            a {
                padding: 5px 10px;
                color: #646464;

                .highlight {
                    color: rgb(255, 23, 68);
                }
            }
        }
    }
}

#warning-cookies {
    position: fixed;
    left: 0;
    bottom: -100%;
    z-index: 10;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.83);
    text-align: right;
    transition: bottom .5s;
    padding: 20px 0;

    .container {
        max-width: 850px;
    }

    p {
        color: #fff;
        font-size: 14px;
        text-align: justify;

        a {
            color: #ff1744;
        }
    }

    button {
        min-width: 100px;
        height: 40px;
        border: 0;
        font-size: 14.5px;
        color: #FFF;
        border-radius: 25px;
        font-weight: 700;
        background-color: rgb(255, 23, 68);
    }
}
