.page-store-config {
    #form-store-config {
        text-align: center;
        float: left;
        width: 100%;

        h1 {
            font-size: 20.8px;
            color: rgb(66, 66, 66);
            font-weight: 700;
            display: block;
            text-align: left;
            margin-bottom: 40px;
        }

        .half {
            width: 49%;

            &.margin {
                margin-right: 2%;
            }
        }

        .name {
            margin-top: 40px;
        }

        .margin-bottom {
            margin-bottom: 20px;
        }

        #delete-store-account {
            font-size: 12.5px;
            color: rgb(150, 150, 150);
            display: inline-block;
        }

        input[name=current_password] {
            display: none;
        }

        input[type=submit] {
            color: rgb(255, 255, 255);
            font-weight: 700;
            background-color: rgb(255, 23, 68);
            height: 45px;
            border-radius: 25px;
            margin: 20px 0;
            float: left;
            width: 100%;
            border: none;
            font-size: 14.5px;
        }

        .slug {
            &:after {
                content: 'www.naslojas.com/';
                position: absolute;
                top: 18px;
                left: 0;
                font-size: 14.5px;
                padding-left: 15px;
                color: #808484;
            }

            input {
                padding-left: 145px;
            }
        }

        .switch-container {
    		float: left;
    		position: relative;
            width: 100%;
            margin-top: 5px;

    		.title-switch {
    			font-size: 13.3px;
    			color: rgb(150, 150, 150);
                float: left;
                margin-left: 15px;
    		}

    		.switch {
    			position: relative;
    			width: 40px;
    			height: 20px;
    			background-color: transparent;
    			border: none;
    			box-shadow: none;
                float: left;

    			input {
    				display:none;

    				&:checked + .slider {
    					background-color: #84ce6f;
    				}

    				&:focus + .slider {
    					box-shadow: 0 0 1px #84ce6f;
    				}

    				&:checked + .slider:before {
    					-webkit-transform: translateX(21px);
    					-ms-transform: translateX(21px);
    					transform: translateX(21px);
    				}
    			}

    			.slider {
    				position: absolute;
    				cursor: pointer;
    				top: 0;
    				left: 0;
    				right: 0;
    				bottom: 0;
    				background-color: #f06c6c;
    				-webkit-transition: .4s;
    				transition: .4s;
    				border-radius: 34px;

    				&:before {
    					position: absolute;
    					content: "";
    					height: 13px;
    					width: 13px;
    					left: 3px;
    					bottom: 3.1px;
    					background-color: white;
    					-webkit-transition: .4s;
    					transition: .4s;
    					border-radius: 50%;
    				}
    			}
    		}
    	}
    }
}
