.page-store-config {
    input[type=submit] {
        font-size: 14.5px;
        color: #fff;
        font-weight: 700;
        background-color: rgb(255, 23, 68);
        width: 100%;
        height: 45px;
        border: none;
        border-radius: 25px;
        float: left;
        margin-top: 20px;
    }

    .navigation {
        float: left;
        width: 100%;

        li {
            border-bottom: 1px solid rgb(240, 240, 240);
            float: left;
            width: 100%;

            a {
                font-size: 16.6px;
                color: rgb(150, 150, 150);
                float: left;
                width: 100%;
                padding: 30px 0 30px 20px;
                position: relative;

                &#delete-store-account {
                    color: rgb(255, 23, 68);
                }

    			.switch {
    				position: absolute;
    				top: 35px;
    				right: 25px;
    				background-color: #f06c6c;
    				-webkit-transition: .4s;
    				transition: .4s;
    				border-radius: 34px;
                    width: 40px;
        			height: 20px;

    				&:before {
    					position: absolute;
    					content: "";
    					height: 13px;
    					width: 13px;
    					left: 3px;
    					top: 3.95px;
    					background-color: white;
    					-webkit-transition: .4s;
    					transition: .4s;
    					border-radius: 50%;
    				}

                    &.active-profile {
    					background-color: #84ce6f;

        				&:before {
        					-webkit-transform: translateX(21px);
        					-ms-transform: translateX(21px);
        					transform: translateX(21px);
        				}
                    }
    			}
            }
        }
    }

    .fields {
        display: none;
        float: left;
        width: 100%;
        margin: 10px 0;

        &.show-fields {
            display: block;
        }

        input, textarea {
            &focus + label, &:not(:placeholder-shown) + label, &.move-placeholder + label {
                background-color: #fff;
            }
        }

        input[name=current_password] {
            display: none;
        }

        .image-cover {
            margin-top: 30px;
            float: left;
            width: 100%;

            &.image-cover-mobile {
                label {
                    background-image: url('../../images/image-cover-mobile.jpg');
                    height: 165px;
                }
            }

            .title {
                font-size: 14.5px;
                color: #000;
                font-weight: 700;
                float: left;
                width: 100%;
                padding-left: 20px;
            }

            .desc {
                font-size: 12.5px;
                color: rgb(150, 150, 150);
                float: left;
                width: 100%;
                padding-left: 20px;
            }

            input {
                display: none;
            }

            label {
                width: 100%;
                height: 55px;
                float: left;
                background-image: url('../../images/image-cover-desktop.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 5px;
                margin-top: 10px;
                cursor: pointer;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    width: 38px;
                    height: 38px;
                    background-color: #fff;
                    //opacity: 0;
                    transition: .5s;
                    background-image: url('../../images/icon-image-cover.png');
                    background-position: center;
                    background-size: 23px;
                    background-repeat: no-repeat;
                }

                //&:hover:after {
                    //opacity: 1;
                //}
            }
        }

        .slug {
            &:after {
                content: 'www.naslojas.com/';
                position: absolute;
                top: 19px;
                left: 0;
                font-size: 14.5px;
                padding-left: 15px;
                color: #808484;
            }

            input {
                padding-left: 150px;
            }
        }

        .payment-methods {
            float: left;
            width: 100%;
            margin-bottom: 30px;

            .payment-group {
                float: left;
                width: 100%;
                margin-bottom: 20px;

                &:first-child {
                    width: 100%;
                }

                .payment-type {
                    font-size: 14.5px;
                    color: #000;
                    display: block;
                    margin-bottom: 10px;
                }

                .payment-description {
                    display: block;

                    input {
                        display: none;

                        &:checked + label:after {
                            background-image: url('../../images/icon-check2.png');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }

                    label {
                        font-size: 14.5px;
                        color: rgb(150, 150, 150);
                        position: relative;
                        padding-left: 30px;
                        font-weight: normal;
                        cursor: pointer;

                        &:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            background-color: rgb(245, 245, 245);
                        }
                    }
                }
            }
        }
    }
}
